{% extends 'base_template.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'users/css/change_password.css' %}">
{% endblock %}

{% block body %}
    {% if errors %}
        <div class="alert alert-danger">
            {{ errors }}
        </div>
    {% endif %}
    <div class="container">
        <center>
            <div class="content-section">
                <form method="POST" class="change-password">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom">Зміна паролю</legend>
                        {% for field in form %}
                            {{ field.label_tag }} {{ field }}
                        {% endfor %}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-light">
                            Підтвердити
                        </button>
                    </div>
                    <div class="border-top pt-1">
                        <small class="text-muted">
                            <a class="ml-2" href="{% url 'user_login' %}">
                                Авторизація
                            </a>
                        </small>
                    </div>
                </form>
            </div>
        </center>
    </div>
{% endblock %}
